* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
}

html {
    width: 100%;
}

main {
    flex: 1;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #114513;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

li:hover {
    color: #adadad;
}

#logo {
    width: 80px;
    height: auto;
}

#banner {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #000;
}

.titulo-historia-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #114513;
    color: #fff;
}

.historia-container {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.historia {
    color: #000;
    font-size: 19px;
    line-height: 1.6;
    text-align: justify;
}

.locais-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-contant {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 30px;
    font-family: 'Sofia Sans', sans-serif ;
}

.card:hover {
    transform: scale(1.04);
}

.banner-1 {
    background-image: url(./assests/patio-1960.jpg);
}

.banner-2 {
    background-image: url(./assests/sala_de_aula-2-1960-70.jpg);
}

.banner-3 {
    background-image: url(./assests/desenho.jpg);
}

.banner-4 {
    background-image: url(./assests/foto2.jpg);
}

.banner-5 {
    background-image:url(./assests/foto4-1.jpg);
}

.banner-6 {
    background-image:url(./assests/biblioteca-2-1960-70.jpg);
}

footer {
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

spam {
    color: #000;
}