* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    width: 100%;
}

html {
    width: 100%;
}

main {
    flex: 1;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #114513;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}

li:hover {
    color: #adadad;
}

#logo {
    width: 80px;
    height: auto;
}

#banner {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.banner-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #000;
}

.titulo-trailer-container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #114513;
    color: #fff;
}

.trailer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}


.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.Description {
    color: #000;
    font-size: 19px;
}

.redes-container {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.titulo-redes {
    font-size: 14px;
    font-weight: bold;
    color: #0f6117;
    margin-bottom: 15px;
}

.redes-icones {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.icone {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.3s;
}

.icone img {
    width: 100px;
    height: 100px;
}

.icone:hover {
    transform: scale(1.1);
    opacity: 0.85;
}

.contato-container {
    width: 100%;
    max-width: 650px;
    margin: 60px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.cidade {
    color: #0f6117;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
}

.visite {
    font-size: 38px;
    font-weight: 800;
    color: #222;
}

.sigla {
    font-size: 18px;
    color: #333;
}

.linha-contato {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #111;
}

.icon-contato {
    width: 22px;
    height: 22px;
    filter: invert(26%) sepia(93%) saturate(675%) hue-rotate(85deg) brightness(40%) contrast(90%);
}



footer {
    height: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

spam {
    color: #000;
}